@model Application.Models.Laptop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitorSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitorSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardDiskSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HardDiskSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RamMemorySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RamMemorySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalParts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalParts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
